tensorflow
keras
pandas
numpy
jupyter
 notebook
opencv-contrib-python




 images                        labels
 images/angry/vivek.png         angry
 images/angry/v.png             angry
 images/sad/vivek.png           sad
 images/sad/v.png               sad

 load_img(img,grayscaleaTrue)